<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:debug />

	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
		<security:expression-handler ref="expHandler"/>
	</security:global-method-security>
	
	<security:http pattern="/resources/**" security="none" />
	
	<security:http use-expressions="true">
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_SUPERVISOR')" />
		<!--
		<security:intercept-url pattern="/**" access="permitAll()"/>
		-->
		<security:intercept-url pattern="/" access="permitAll()"/>
		<security:intercept-url pattern="/playground/**" access="permitAll()"/>
		<security:intercept-url pattern="/tools/**" access="permitAll()"/>
		<security:intercept-url pattern="/math/**" access="permitAll()"/>
		<security:intercept-url pattern="/links/**" access="permitAll()"/>
		<security:intercept-url pattern="/about/**" access="permitAll()"/>
		<security:intercept-url pattern="/**" access="isAuthenticated()"/>
		<security:form-login />
		<security:logout logout-success-url="/" delete-cookies="JSESSIONID" />
		<security:remember-me />
		<!--
		<security:http-basic/>
		-->
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<!--
			<security:user-service>
				<security:user name="admin@izeye.cafe24.com" password="1234" authorities="ROLE_SUPERVISOR"/>
				<security:user name="izeye@naver.com" password="1234" authorities="ROLE_USER"/>
				<security:user name="test@naver.com" password="1234" authorities="ROLE_USER"/>
			</security:user-service>
			-->
			<security:jdbc-user-service data-source-ref="dataSource"
					users-by-username-query="
							SELECT username, password, enabled
							FROM tb_users
							WHERE username=?"
					authorities-by-username-query="
							SELECT u.username, a.authority
							FROM tb_users u, tb_authorities a
							WHERE u.username=? AND u.id=a.user_id" />
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="expHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<property name="permissionEvaluator">
			<bean class="com.izeye.playground.support.security.DefaultPermissionEvaluator" />
		</property>
	</bean>
</beans>
