<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/playground?useUnicode=yes&amp;characterEncoding=UTF-8" />
		<property name="username" value="${dataSource.username}" />
		<property name="password" value="${dataSource.password}" />
		<property name="initialSize" value="10" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="0" />
		<property name="maxWait" value="100" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/sqlmap-config.xml" />
		<property name="mapperLocations" value="classpath:mybatis/mappers/*.xml" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<context:component-scan base-package="com.izeye.playground">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<cache:annotation-driven />

	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cache-manager-ref="ehcache" />
	<bean id="ehcache"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:config-location="classpath:ehcache/ehcache.xml" />
	
	<aop:aspectj-autoproxy />
	
	<security:debug />
	
	<security:http pattern="/resources/**" security="none" />
	
	<security:http use-expressions="true">
		<security:intercept-url pattern="/admin/**" access="hasRole('supervisor')" />
		<security:intercept-url pattern="/**" access="permitAll"/>
		<security:form-login />
		<security:logout logout-success-url="/" delete-cookies="JSESSIONID" />
		<security:remember-me />
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin123" authorities="supervisor, user"/>
				<security:user name="izeye" password="izeye345" authorities="user"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<beans profile="dev">
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:config/profiles/dev/persistence.properties</value>
					<value>classpath:config/profiles/dev/api.properties</value>
				</list>
			</property>
		</bean>
	</beans>
	<beans profile="production">
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:config/profiles/production/persistence.properties</value>
					<value>classpath:config/profiles/production/api.properties</value>
				</list>
			</property>
		</bean>
	</beans>
</beans>
