<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izeye.playground.log.access.dao.mybatis.AccessLogMapper">
	<insert id="insert">
		INSERT INTO
			tb_access_log (access_time, ip, url, user_agent, referer)
		VALUES
			(#{accessTime}, #{ip}, #{url}, #{userAgent}, #{referer})
	</insert>
	<select id="getAccessLogsInSpecificDate" resultType="AccessLog">
		SELECT * FROM tb_access_log WHERE DATE_FORMAT(access_time, '%Y-%m-%d') = #{date}
	</select>
	<select id="getDailyCounts" resultType="DailyCount">
		SELECT
			day, SUM(count) pageviews, COUNT(count) unique_visitors
		FROM
			(
				SELECT
					DATE_FORMAT(access_time, '%Y-%m-%d') AS day, COUNT(1) AS count
				FROM
					tb_access_log
				GROUP BY day, ip
			) V
		GROUP BY day
		ORDER BY day DESC
	</select>
</mapper>